<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5BQLMHvlLZTPrCIUiT1by8yA-jpyhjWk</string>
	<key>GCM_SENDER_ID</key>
	<string>692904066894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ucrazyApp</string>
	<key>PROJECT_ID</key>
	<string>ucrazy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ucrazy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692904066894:ios:d7e8de6e43b7c3b156281f</string>
</dict>
</plist>